body {
    
    
    
     }
.tabel1
{
    
 
}
.area{
    margin-left:500px;
}
.img{
    background-image:url(themes/images/login-img.jpg);
    height:38px;
    width:433px;
    font-size:20px;
    color:white;
   
    

    text-align:center;
}